/************************************/
/*---------- LAYOUT.SCSS -----------*/
/************************************/
/********** BASE ELEMENTS **********/
* {
  box-sizing: border-box; }

header, main, footer {
  display: flex; }

header {
  width: 100%;
  display: flex;
  justify-content: space-between; }

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

/********** FEATURE WRAPPERS **********/
.hero-wrapper, .statement-wrapper, .projects-wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 1rem auto; }

.statement-wrapper {
  justify-content: center;
  align-items: center; }

.projects-wrapper {
  width: 100%;
  flex-direction: column;
  align-items: center; }

/********** INDIVIDUAL COMPONENTS **********/
.statement {
  display: flex;
  align-items: center; }

.project-thumbnails {
  display: flex;
  flex-wrap: nowrap; }

.project-wrapper-inverse p,
.project-title-inverse {
  text-align: right; }

.author-credits {
  display: flex;
  justify-content: center;
  align-items: center; }

.project {
  width: 80%; }

.project-thumbnails {
  display: flex;
  justify-content: space-around; }

.divider {
  width: 100%;
  height: 3rem; }

/********** MEDIA QUERY OVERRIDES **********/
@media screen and (min-width: 1280px) {
  header, main, footer {
    /*max-width: 1280px;*/ } }
