/********** COLOR SCHEME **********/
/* Scheme */
/* Shades */
/********** TYPOGRAPHY **********/
html {
  font-size: 16px;
  color: #EFEFEF; }

body {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

a, a:visited, a:active, a:hover, p, blockquote, span, li {
  font-family: "Muli", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Shrikhand", cursive;
  letter-spacing: 0.1rem; }

p, blockquote {
  line-height: 20px; }

h2 {
  font-size: 2rem;
  padding: 1rem; }

p {
  padding: 0.5rem; }

.hightlight {
  color: #FFC3FF;
  font-weight: bolder; }

.ql-portfolio {
  font-size: 1rem;
  color: #EFEFEF; }

.ham-menu {
  margin: 1rem; }

.ham-menu a {
  font-size: 4rem;
  color: #999999;
  text-decoration: none; }

.hero-text-primary {
  color: #B3D7FF; }

.hero-text-secondary {
  text-align: right;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.5rem;
  color: #477BB3;
  background: #CCCCCC;
  margin-top: -4rem; }

/********** BASE STYLES **********/
html, body {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/********** HEADER **********/
.ql-portfolio {
  background: #FF8508;
  border: none;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 16px 16px 0 0;
  position: relative;
  text-align: center; }

.ql-portfolio:after {
  position: absolute;
  bottom: -20px;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 20px solid #FF8508; }

/********** MAIN CONTENT **********/
.profile-img {
  border-radius: 32px; }

.hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 100%;
  text-align: center; }

.hero-text-primary {
  width: 100%;
  padding: 3rem;
  background: #333333;
  border-radius: 1rem 1rem 0 1rem; }

.hero-text-secondary {
  text-align: center;
  max-width: 80%;
  margin-top: -16px;
  background: #131313;
  color: #8DFF7C;
  border-radius: 1rem 0 1rem 1rem;
  border: 1px solid #333333; }

.project-wrapper, .project-wrapper-inverse {
  background: #EEE;
  padding: 1rem;
  margin: 1rem 0; }

.project-wrapper:before {
  position: absolute;
  right: 10%;
  margin-right: -2rem;
  margin-top: -1rem;
  content: "";
  width: 0;
  height: 0;
  border-top: 4rem solid transparent;
  border-bottom: 4rem solid transparent;
  border-left: 2rem solid #477BB3;
  z-index: 1000; }

.project-wrapper-inverse:before {
  position: absolute;
  left: 10%;
  margin-left: -2rem;
  margin-top: -1rem;
  content: "";
  width: 0;
  height: 0;
  border-top: 4rem solid transparent;
  border-bottom: 4rem solid transparent;
  border-right: 2rem solid #477BB3;
  z-index: 1000; }

.statement {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5rem; }

.statement-text {
  line-height: 1.3; }

.project h2 {
  color: #FF8508;
  width: 100%; }

.project-wrapper, .project-wrapper-inverse {
  background: #333333;
  width: 100%; }

.project-thumbnail {
  max-width: 100%; }

.divider {
  text-align: center; }

.vertical-thumb, .horizontal-thumb {
  text-align: center; }

.vertical-thumb {
  flex-basis: 25%; }

.horizontal-thumb {
  flex-basis: 50%; }

.project-thumbnails {
  align-items: center; }

.divider {
  position: flex;
  color: #131313;
  justify-content: center;
  align-items: center; }

@media only screen and (min-width: 900px) {
  .statement {
    flex-direction: row;
    font-size: 2rem; } }
